@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

.inner-parent{
    background-color: black;
}

.inner-wrapper{
    width: 80%;
    max-width: 1440px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
}
.inner-nav-child1 img{
    width: 11rem;
    margin-top: 0px;
    position: inherit;
    z-index: 999;  
    height: 48px;
}

.nav-heading{
    position: inherit;
    z-index: 999;
}
.inner-nav-child1{
    display: flex;

}
.inner-nav{
    display: flex;
}
.inner-nav-child2{
    position: inherit;
    z-index: 999;
}
.inner-nav-child2 ul{
    margin-left: 140px;
    display: flex;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 10px;
}
.inner-nav-child2 ul .link-nav{
    margin-left: 60px;
    list-style: none;
    text-decoration: none;
    color: #f3eeee;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.inner-nav-child2 ul .link-nav:hover{
    color: red;
}
.inner-parent{
    background-image: url('../../../public/images/download (1).jfif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 649px;

}
.inner-parent::before {
    content: "";
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 650px;
    opacity: 1;
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,0.7063200280112045) 44%, rgba(0,0,0,1) 62%, rgba(0,0,0,1) 78%);
  }
.inner-banner-child1 h3{
    color: #f3eeee;
    word-spacing: 7px;
    letter-spacing: 4px;
    font-size: 1.4rem;
    padding-bottom: 15px;
}
.inner-banner-child1 h5{
    color: #f3eeee;
    padding-bottom: 15px;
    font-size: 1rem;
    letter-spacing: 2px;
}
.inner-banner-child1 h1{
    color: #f3eeee;
    font-size: 3.5rem;
    font-weight: 700;
    padding-bottom: 15px;
}
.inner-banner-child1  {
    position: relative;
    z-index: 999;
    font-family: 'Poppins', sans-serif;
    margin-top: 130px;
}
.inner-banner-child1 h6{
    color: #a7a7a7;
    padding-bottom: 15px;
    font-size: 1.1rem;
    line-height: 25px;margin-top: 10px;
}
.banner-button .link-btn-a  button {
    background-color: red;
    color: #f3eeee;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    font-weight: 700;
    width: 160px;
}   
.banner-button .link-btn-a button:hover{
    background-color: rgb(255, 255, 255);
    color: #000000;

}
.banner-button .link-btn-b  button {
    background-color: rgb(0, 0, 0);
    color: #f3eeee;
    font-family: 'Poppins', sans-serif;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    font-weight: 700;
    width: 160px;
    margin-left: 30px;
    margin-top: 20px;
}   
.banner-button .link-btn-b button:hover{
    background-color: rgb(255, 255, 255);
    color: #000000;

}
@media only screen and (min-width: 320px)  and (max-width: 1024px) {
    .inner-nav {
        display: block;
    }
    .inner-nav-child1 img {
        width: 7rem;
        margin-top: 0px;
        position: relative;
        z-index: 999;
        height: 34px;
        margin-left: auto;
        margin-right: auto;
    }
    .inner-nav-child2 ul .link-nav {
        margin-left: auto;
        position: relative;
        font-size: 0.9rem;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
    }
    .inner-nav-child2 ul {
        margin-left: auto;
        position: relative;
        font-size: 0.9rem;
        margin-right: auto;
        margin-top: 20px;
        padding-left: 10px;
    }
    .inner-wrapper{
        width: 95%;
    }
    .inner-banner-child1 h3 {
        text-align: center;
        margin: 0 auto;
        font-size:0.8rem;
        margin-top: -80px;
        line-height: 21px;
    }
    .inner-banner-child1 h1 {
        text-align: center;
        font-size: 2.8rem;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 13px;
    }
    .inner-banner-child1 h5 {
        text-align: center;
        margin: 0 auto;
        font-size:0.8rem;
        line-height: 21px;
    }
    .inner-banner-child1 h6 {
        text-align: center;
        margin: 0 auto;
        font-size: 0.8rem;
        line-height: 20px;
    }
    .banner-button .link-btn-a  button {
        width: 115px;
        height: 47px;
        font-size: 0.7rem;  
        margin-top: 21px;

    }
    .banner-button .link-btn-b  button {
        width: 115px;
        height: 47px;
        font-size: 0.7rem;
    }
    .banner-button{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}